.Rproj.user
.Rhistory
.RData
.Ruserdata
.quarto
_site/
_output/
states/*/index.html
regions/*/index.html
states/*/index_files/
regions/*/index_files/
**/*.pdf
**/*.typ
!styles/preamble.typ
!styles/typst-show.typ
**/figures/
outputs/
renv/library/
renv/staging/
data/cache/
.DS_Store

/.quarto/
**/*.quarto_ipynb
